@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.img-logo:hover {
  transform: scale(104%);
}

.logo-coffee {
  display: flex;
}

.coffee {
  color: rgb(184, 231, 231);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 12px;
}

.buscar {
  padding: 30px 10px;
}
.buscar input {
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
}

/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px) {
  header {
    height: 150px;
  }
  .section-header {
    height: 150px;
  }
  .img-logo {
    position: absolute;
    width: 140px;
    height: 130px;
  }
  .coffee h1 {
    font-size: 20px;
    display: flex;
    margin-left: 110px;
  }
  .buscar {
    padding: 30px 30px;
    height: 200px;
  }
  .buscar input {
    width: 400px;
    height: 65px;
    font-size: 35px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
  .img-logo {
    width: 200px;
    height: 160px;
  }
  .coffee h1 {
    font-size: 30px;
    margin-left: 150px;
  }
  .buscar {
    padding: 30px 30px;
    height: 200px;
    position: relative;
  }
  .buscar input {
    width: 400px;
    height: 70px;
    font-size: 40px;
  }
}
/******************************************MEDIA Q TELEFONO 375***********************************************************/
/******************************************MEDIA Q TELEFONO 320***********************************************************/
.main {
  grid-area: main;
  background-color: black;
}

.contenedor {
  display: flex;
}
.contenedor a {
  padding: 10px 3px 0px 5px;
}

.reseñas-comprar {
  display: flex;
}
.reseñas-comprar .reseña-img:hover {
  transform: scale(103%);
}
.reseñas-comprar .comprar:hover {
  transform: scale(103%);
}

.vlz:hover {
  transform: scale(103%);
}

.vlz {
  width: 370px;
}

.carta-sucursal {
  display: flex;
}
.carta-sucursal .carta-img:hover {
  transform: scale(103%);
}
.carta-sucursal .sucursal:hover {
  transform: scale(103%);
}

.imagen-principal {
  padding: 0px 5px 0px 8px;
  position: relative;
  display: inline-block;
}
.imagen-principal h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 4rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.img-principal {
  z-index: -1;
}

/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px) {
  .reseñas-comprar {
    padding-top: 200px;
    display: flex;
  }
  .vlz {
    position: absolute;
    left: 800px;
    -webkit-clip-path: inset(30px 10px 90px 10px);
            clip-path: inset(30px 10px 90px 10px);
  }
  .reseña-img {
    width: 480px;
    height: 490px;
  }
  .comprar {
    width: 480px;
    height: 490px;
    margin-left: 10px;
  }
  .carta-sucursal {
    padding-top: 200px;
    display: flex;
  }
  .carta-img {
    width: 480px;
    height: 490px;
  }
  .sucursal {
    width: 480px;
    height: 490px;
    margin-left: 10px;
  }
  .img-principal {
    width: 100%;
    height: 1400px;
    padding: 20px 0px 0px;
  }
  .imagen-principal h2 {
    font-size: 6rem;
    width: 1500px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
  .comprar {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }
  .reseñas-comprar {
    display: flex;
    flex-direction: column;
    padding-top: 400px;
  }
  .reseñas-comprar .reseña-img {
    width: 830px;
    height: 700px;
  }
  .reseñas-comprar .comprar {
    width: 830px;
    height: 700px;
  }
  .carta-sucursal {
    display: flex;
    flex-direction: column;
    padding-top: 400px;
  }
  .carta-sucursal .carta-img {
    width: 830px;
    height: 700px;
    margin-left: 10px;
  }
  .carta-sucursal .sucursal {
    width: 830px;
    height: 700px;
    margin-left: 10px;
  }
  .sucursal {
    margin: 0%;
  }
  .vlz {
    left: 600px;
    -webkit-clip-path: inset(30px 10px 90px 10px);
            clip-path: inset(30px 10px 90px 10px);
    width: 500px;
    height: 400px;
  }
  .img-principal {
    height: 1500px;
    padding: 10px 0px 0px;
    width: 1680px;
  }
  .imagen-principal h2 {
    font-size: 7rem;
    width: 1600px;
  }
  /******************************************MEDIA Q TELEFONO 375***********************************************************/
  /******************************************MEDIA Q TELEFONO 320***********************************************************/
}
@media (max-width: 425px) and (max-width: 375px) {
  .reseñas-comprar .reseña-img {
    width: 720px;
    height: 700px;
    margin-left: 10px;
  }
  .reseñas-comprar .comprar {
    width: 720px;
    height: 700px;
    margin-left: 10px;
  }
  .carta-sucursal {
    display: flex;
    flex-direction: column;
    padding-top: 400px;
  }
  .carta-sucursal .carta-img {
    width: 720px;
    height: 700px;
    margin-left: 20px;
  }
  .carta-sucursal .sucursal {
    width: 720px;
    height: 700px;
    margin-left: 20px;
  }
  .vlz {
    left: 550px;
  }
  .img-principal {
    width: 1490px;
  }
  .imagen-principal h2 {
    font-size: 7rem;
    width: 1500px;
  }
}
@media (max-width: 425px) and (max-width: 320px) {
  .reseñas-comprar .reseña-img {
    width: 610px;
    height: 600px;
    margin-left: 10px;
  }
  .reseñas-comprar .comprar {
    width: 610px;
    height: 600px;
    margin-left: 10px;
  }
  .carta-sucursal {
    display: flex;
    flex-direction: column;
    padding-top: 400px;
  }
  .carta-sucursal .carta-img {
    width: 610px;
    height: 600px;
    margin-left: 10px;
  }
  .carta-sucursal .sucursal {
    width: 610px;
    height: 600px;
    margin-left: 10px;
  }
  .vlz {
    left: 400px;
  }
  .img-principal {
    height: 1400px;
    padding: 10px 0px 0px;
    width: 1260px;
  }
  .imagen-principal h2 {
    font-size: 7rem;
    width: 1270px;
  }
}
.footer {
  grid-area: footer;
  background-color: rgb(106, 174, 174);
  display: flex;
  justify-content: space-around;
}

.section-footer {
  display: flex;
  flex-direction: row;
}

.contacto {
  text-align: center;
  margin-left: 500px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px;
}
.contacto h3 {
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
}

.redes {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px;
}
.redes a {
  margin-left: 70px;
}
.redes a .img-face:hover {
  transform: scale(115%);
}
.redes a .img-insta:hover {
  transform: scale(115%);
}
.redes a .img-twitter:hover {
  transform: scale(115%);
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: 100px 1fr 150px;
}

/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px) {
  .footer {
    height: 280px;
    margin-top: auto;
    width: 2000px;
  }
  .section-footer {
    display: flex;
    flex-direction: row;
  }
  .redes h2 {
    font-size: 60px;
    padding: 10px;
    margin-right: 50px;
  }
  .redes a {
    margin-left: 180px;
  }
  .img-face {
    width: 90px;
    height: 100px;
  }
  .img-insta {
    width: 90px;
    height: 100px;
  }
  .img-twitter {
    width: 90px;
    height: 100px;
  }
  .contacto {
    margin: 0%;
    margin-right: 20px;
  }
  .contacto h2 {
    font-size: 60px;
    margin-top: 30px;
  }
  .contacto h3 {
    font-size: 50px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
  .footer {
    height: 600px;
    width: 1700px;
  }
  .section-footer {
    display: flex;
    flex-direction: column;
  }
  .redes a {
    margin-left: 250px;
  }
  .redes h2 {
    display: flex;
    text-align: center;
    font-size: 90px;
  }
  .contacto h2 {
    font-size: 90px;
    margin-top: 30px;
  }
  .contacto h3 {
    font-size: 70px;
  }
  .img-face {
    width: 120px;
    height: 120px;
  }
  .img-insta {
    width: 120px;
    height: 120px;
  }
  .img-twitter {
    width: 120px;
    height: 120px;
  }
}
/******************************************MEDIA Q TELEFONO 375***********************************************************/
@media (max-width: 375px) {
  .footer {
    width: 1500px;
  }
}
/******************************************MEDIA Q TELEFONO 320***********************************************************/
@media (max-width: 320px) {
  .footer {
    width: 1280px;
  }
  .redes a {
    margin-left: 230px;
  }
  .redes h2 {
    font-size: 80px;
    margin-right: 0%;
    margin-left: 15px;
  }
  .contacto h2 {
    font-size: 80px;
    margin-top: 30px;
  }
  .contacto h3 {
    font-size: 60px;
  }
}
.header-dos {
  grid-area: header-dos;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-content: end;
  width: 1540px;
}
.header-dos .section-header-dos {
  display: flex;
}
.header-dos .section-header-dos .img-logo- {
  padding: 30px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 220px;
}
.header-dos .navbar {
  display: flex;
  gap: 10px 20px;
  margin-left: 400px;
  align-items: center;
}
.header-dos .navbar .inicio-suc {
  display: flex;
  gap: 20px;
}
.header-dos .navbar .inicio-comp {
  display: flex;
  gap: 20px;
}
.header-dos .navbar .com-rese {
  display: flex;
  gap: 20px;
}
.header-dos .navbar .carta-rese {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.header-dos .navbar .carta-suc {
  display: flex;
  gap: 20px;
}

.img-inicio:hover {
  transform: scale(103%);
}

.img-carta-dos:hover {
  transform: scale(103%);
}

.img-reseñas-dos:hover {
  transform: scale(103%);
}

.img-comprar-dos:hover {
  transform: scale(103%);
}

.img-sucursal-dos:hover {
  transform: scale(103%);
}

/***********MEGA Q PORTATIL***********/
@media (max-width: 1024px) {
  .img-logo- {
    height: 200px;
    padding-top: 30px;
  }
  .navbar {
    margin-left: 400px;
  }
}
/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px) {
  .header-dos {
    grid-area: header-dos;
    background-color: rgb(0, 0, 0);
    height: 800px;
    flex-direction: column;
  }
  .header-dos .section-header-dos {
    display: flex;
    justify-content: center;
    height: 200px;
  }
  .header-dos .section-header-dos .img-logo- {
    width: 400px;
    height: 270px;
    padding-top: 5px;
    position: relative;
    bottom: 30px;
  }
  .header-dos .navbar {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
  }
  .header-dos .navbar .inicio-suc {
    display: flex;
    gap: 25px;
  }
  .header-dos .navbar .com-rese {
    display: flex;
    gap: 25px;
  }
  .header-dos .navbar .carta-rese {
    display: flex;
    gap: 25px;
  }
  .header-dos .navbar .img-inicio {
    width: 360px;
    height: 400px;
    margin-left: 15px;
  }
  .header-dos .navbar .img-comprar-dos {
    width: 360px;
    height: 400px;
    position: relative;
  }
  .header-dos .navbar .img-carta-dos {
    width: 360px;
    height: 400px;
    position: relative;
  }
  .header-dos .navbar .img-sucursal-dos {
    width: 360px;
    height: 400px;
    position: relative;
  }
  .header-dos .navbar .img-reseñas-dos {
    width: 360px;
    height: 400px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
  .header-dos {
    grid-area: header-dos;
    height: 1500px;
  }
  .header-dos .section-header-dos {
    height: 250px;
  }
  .header-dos .section-header-dos .img-logo- {
    width: 400px;
    height: 400px;
    bottom: 70px;
  }
  .header-dos .navbar {
    flex-wrap: wrap;
  }
  .header-dos .navbar .img-inicio {
    width: 700px;
    height: 600px;
    position: relative;
    margin-left: 0%;
  }
  .header-dos .navbar .img-carta-dos {
    width: 700px;
    height: 600px;
    position: relative;
  }
  .header-dos .navbar .img-comprar-dos {
    width: 700px;
    height: 600px;
  }
  .header-dos .navbar .img-sucursal-dos {
    width: 700px;
    height: 600px;
  }
  .header-dos .navbar .img-reseñas-dos {
    width: 700px;
    height: 600px;
  }
  .header-dos .navbar .inicio-suc {
    flex-direction: column;
    margin-left: 40px;
  }
  .header-dos .navbar .inicio-comp {
    flex-direction: column;
    margin-left: 40px;
  }
  .header-dos .navbar .com-rese {
    flex-direction: column;
    margin-right: 40px;
  }
  .header-dos .navbar .carta-rese {
    flex-direction: column;
    margin-right: 40px;
    margin-left: 30px;
  }
  .header-dos .navbar .carta-suc {
    flex-direction: column;
    margin-right: 40px;
    margin-left: 30px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 375px) {
  .header-dos {
    width: 1500px;
  }
  .header-dos .navbar .inicio-suc {
    margin-left: 30px;
  }
  .header-dos .navbar .inicio-comp {
    margin-left: 30px;
  }
  .header-dos .navbar .carta-rese {
    position: relative;
    margin-left: 5px;
  }
  .header-dos .navbar .img-inicio {
    width: 695px;
    height: 600px;
  }
  .header-dos .navbar .img-carta-dos {
    width: 695px;
    height: 600px;
  }
  .header-dos .navbar .img-comprar-dos {
    width: 695px;
    height: 600px;
  }
  .header-dos .navbar .img-sucursal-dos {
    width: 695px;
    height: 600px;
  }
  .header-dos .navbar .img-reseñas-dos {
    width: 695px;
    height: 600px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
  .header-dos {
    width: 1300px;
  }
  .header-dos .navbar .img-inicio {
    width: 590px;
    height: 600px;
  }
  .header-dos .navbar .img-carta-dos {
    width: 590px;
    height: 600px;
  }
  .header-dos .navbar .img-comprar-dos {
    width: 590px;
    height: 600px;
  }
  .header-dos .navbar .img-sucursal-dos {
    width: 590px;
    height: 600px;
  }
  .header-dos .navbar .img-reseñas-dos {
    width: 590px;
    height: 600px;
  }
  .header-dos .navbar .com-rese {
    position: relative;
  }
  .header-dos .navbar .carta-rese {
    position: relative;
    margin-left: 5px;
  }
  .header-dos .navbar .carta-suc {
    position: relative;
  }
}
.main-dos {
  display: grid;
  grid-area: main-dos;
  background-color: rgb(106, 174, 174);
  width: 1540px;
}

.contenedor {
  flex-wrap: wrap;
}

.nuestra-carta {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Bebas Neue", cursive;
  color: rgb(184, 231, 231);
}

.beb {
  background-color: rgb(47, 180, 221);
  width: 100px;
  margin-left: 40px;
  border-radius: 5px;
  border: 5px solid rgb(47, 180, 221);
}

.com {
  background-color: rgb(47, 180, 221);
  width: 170px;
  border-radius: 5px;
  border: 5px solid rgb(47, 180, 221);
  margin-left: 7px;
}

.com-s {
  background-color: rgb(47, 180, 221);
  width: 190px;
  margin-left: 50px;
  border-radius: 5px;
  border: 5px solid rgb(47, 180, 221);
}

.beb-dul {
  display: flex;
}

.carta {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.bebidas {
  color: rgb(0, 0, 0);
  list-style-type: none;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  width: 250px;
  height: 550px;
  border: 2px solid rgb(7, 149, 192);
  border-radius: 10px;
}

.comida-dulce {
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
  font-size: 20px;
  margin-left: 210px;
  justify-content: center;
  width: 250px;
  height: 550px;
  border: 2px solid rgb(7, 149, 192);
  border-radius: 10px;
}

.comida-salada {
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
  font-size: 20px;
  margin-left: 20px;
  width: 360px;
  height: 550px;
  border: 2px solid rgb(7, 149, 192);
  border-radius: 10px;
}

.carousel-inner {
  margin-bottom: 20px;
}

.ca {
  width: 1260px;
  height: 600px;
  margin-left: 140px;
}

/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px) {
  .main-dos {
    grid-area: main-dos;
  }
  .nuestra-carta {
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .beb {
    width: 200px;
    margin-left: 70px;
  }
  .com {
    width: 380px;
    margin-left: 20px;
  }
  .com-s {
    width: 400px;
    margin-left: 150px;
  }
  .beb-dul {
    display: flex;
    justify-content: space-evenly;
  }
  .carta {
    display: flex;
    flex-direction: column;
  }
  .bebidas {
    width: 400px;
    height: 1250px;
    font-size: 45px;
  }
  .comida-dulce {
    width: 500px;
    height: 1250px;
    font-size: 45px;
  }
  .comida-salada {
    width: 800px;
    height: 1100px;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 380px;
  }
  .ca {
    margin-left: 40px;
    width: 1450px;
    height: 750px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
  .main-dos {
    grid-area: main-dos;
    height: 1fr;
  }
  .nuestra-carta {
    font-size: 100px;
  }
  .beb-dul {
    display: flex;
    flex-direction: column;
  }
  .beb {
    width: 350px;
    margin-left: 300px;
  }
  .com {
    margin-left: 150px;
    width: 650px;
  }
  .com-s {
    margin-left: 300px;
    width: 700px;
  }
  .bebidas {
    margin-left: 250px;
    width: 1000px;
    margin-bottom: 50px;
    font-size: 80px;
    height: 2100px;
  }
  .comida-dulce {
    margin-left: 250px;
    font-size: 80px;
    height: 2100px;
    width: 1000px;
  }
  .comida-salada {
    margin-left: 50px;
    width: 1400px;
    font-size: 80px;
    height: 2000px;
  }
  .ca {
    margin: 10px 10px 10px 20px;
    width: 1500px;
    height: 1050px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 375px) {
  .ca {
    margin: 10px 10px 10px 15px;
    width: 1470px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
  .main-dos {
    width: 1300px;
  }
  .nuestra-carta h1 {
    font-size: 200px;
    margin: 0%;
  }
  .bebidas {
    margin-left: 150px;
  }
  .comida-dulce {
    margin-left: 150px;
  }
  .comida-salada {
    margin-left: 80px;
    width: 1100px;
    height: 2300px;
  }
  .com-s {
    margin-left: 180px;
  }
  .ca {
    width: 1270px;
    height: 1000px;
    margin-left: 0%;
  }
}
.footer-dos {
  grid-area: footer-dos;
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: white;
  width: 1540px;
}
.footer-dos .section-footer-dos {
  display: flex;
  flex-direction: row;
}
.footer-dos .section-footer-dos .redes-dos {
  left: 50px;
  bottom: 5px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 15px 0px 10px 0px;
}
.footer-dos .section-footer-dos .redes-dos h2 {
  font-family: "Josefin Sans", sans-serif;
  width: 550px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.footer-dos .section-footer-dos .redes-dos a {
  margin-left: 90px;
}
.footer-dos .section-footer-dos .redes-dos a .img-face-dos:hover {
  transform: scale(115%);
}
.footer-dos .section-footer-dos .redes-dos a .img-insta-dos:hover {
  transform: scale(115%);
}
.footer-dos .section-footer-dos .redes-dos a .img-twitter-dos:hover {
  transform: scale(115%);
}
.footer-dos .section-footer-dos .contacto-dos {
  text-align: center;
  margin-left: 500px;
  padding: 15px 0px 10px 0px;
}
.footer-dos .section-footer-dos .contacto-dos h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  padding-bottom: 15px;
}
.footer-dos .section-footer-dos .contacto-dos h3 {
  text-align: center;
  padding: 0px 10px 0px 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  width: 450px;
}

.grid-container-dos {
  display: grid;
  grid-template-areas: "header-dos header-dos header-dos" "main-dos main-dos main-dos" "footer-dos footer-dos footer-dos";
  grid-template-rows: 210px 1fr 150px;
}

/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px) {
  .footer-dos {
    grid-area: footer-dos;
    height: 300px;
    margin-top: auto;
    justify-content: space-around;
  }
  .footer-dos .section-footer-dos {
    display: flex;
    flex-direction: row;
  }
  .footer-dos .section-footer-dos .redes-dos h2 {
    font-size: 50px;
    text-align: center;
    margin-left: 0%;
  }
  .footer-dos .section-footer-dos .redes-dos a {
    margin-left: 80px;
  }
  .footer-dos .section-footer-dos .redes-dos a .img-face-dos {
    width: 100px;
    height: 100px;
    width: 70px;
  }
  .footer-dos .section-footer-dos .redes-dos a .img-insta-dos {
    width: 100px;
    height: 100px;
    width: 70px;
  }
  .footer-dos .section-footer-dos .redes-dos a .img-twitter-dos {
    width: 100px;
    height: 100px;
    width: 70px;
  }
  .footer-dos .section-footer-dos .contacto-dos {
    font-size: 35px;
    margin-left: 60px;
  }
  .footer-dos .section-footer-dos .contacto-dos h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .footer-dos .section-footer-dos .contacto-dos h3 {
    font-size: 35px;
    text-align: center;
    padding: 15px 5px 5px 0px;
    width: 100%;
    margin-bottom: 0%;
  }
  .grid-container-dos {
    display: grid;
    grid-template-areas: "header-dos header-dos header-dos" "main-dos main-dos main-dos" "footer-dos footer-dos footer-dos";
    grid-template-rows: 620px 1fr 300px;
    grid-template-columns: auto;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
  .footer-dos {
    grid-area: footer-dos;
    height: 600px;
  }
  .footer-dos .section-footer-dos {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }
  .footer-dos .section-footer-dos .redes-dos {
    margin: 20px;
  }
  .footer-dos .section-footer-dos .redes-dos h2 {
    font-size: 60px;
    padding: 15px 5px 0px 5px;
    width: 1000px;
  }
  .footer-dos .section-footer-dos .redes-dos a {
    margin-left: 200px;
  }
  .footer-dos .section-footer-dos .redes-dos a .img-insta-dos {
    width: 90px;
  }
  .footer-dos .section-footer-dos .redes-dos a .img-face-dos {
    width: 90px;
  }
  .footer-dos .section-footer-dos .redes-dos a .img-twitter-dos {
    width: 90px;
  }
  .footer-dos .section-footer-dos .contacto-dos h2 {
    font-size: 60px;
    margin: 0px;
  }
  .footer-dos .section-footer-dos .contacto-dos h3 {
    font-size: 50px;
    padding-left: 5px;
  }
  .grid-container-dos {
    display: grid;
    grid-template-areas: "header-dos header-dos header-dos" "main-dos main-dos main-dos" "footer-dos footer-dos footer-dos";
    grid-template-rows: 1500px 1fr 600px;
    grid-template-columns: auto;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 375px) {
  .footer-dos {
    width: 1500px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
  .footer-dos {
    width: 1300px;
  }
  .redes-dos {
    margin-left: 20px;
  }
}
.nuestros-cafes {
  text-align: center;
  font-size: 45px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
}

.nuestras-cafeteras {
  margin-top: 40px;
}
.nuestras-cafeteras h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 60px;
}

.cafés {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.card {
  border: 8px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  gap: 15px;
  color: rgb(0, 0, 0);
  box-shadow: 0px 3px 3px rgb(117, 117, 117);
  font-family: "Josefin Sans", sans-serif;
}

.card:hover {
  transform: scale(104%);
}

.cafeteras {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.cafeteras-dos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}

/********************MEDIA Q TABLET*********************/
@media (max-width: 778px) {
  .nuestros-cafes {
    font-size: 50px;
  }
}
/**************************MEDIA Q TELEFONO*********************/
@media (max-width: 425px) {
  .nuestras-cafeteras {
    margin-top: 0px;
  }
  .nuestras-cafeteras h1 {
    font-size: 120px;
    padding: 0px;
  }
  .nuestros-cafes {
    font-size: 120px;
  }
  .cafés {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
    margin: 0px;
    margin-left: 120px;
  }
  .cafeteras {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
    margin-top: 0px;
    margin-left: 120px;
  }
  .cafeteras-dos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 150px;
  }
  .card {
    border-radius: 60px;
    width: 1100px;
    height: 1200px;
    margin-left: 70px;
  }
  .card a {
    font-size: 70px;
  }
  .card h2 {
    font-size: 80px;
  }
  .card img {
    width: 900px;
    height: 1000px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
  .main-dos {
    width: 1300px;
  }
  .cafés {
    margin-left: 0px;
    width: 1000px;
  }
  .cafeteras {
    margin-left: 0px;
    width: 1000px;
  }
  .cafeteras-dos {
    margin-left: 0px;
    width: 1000px;
  }
  .nuestras-cafeteras h1 {
    font-size: 100px;
  }
  .nuestros-cafes {
    font-size: 100px;
  }
  .card {
    width: 1000px;
    height: 1200px;
    margin-left: 120px;
  }
  .card a {
    font-size: 60px;
  }
  .card h2 {
    font-size: 60px;
  }
  .card img {
    width: 700px;
    height: 800px;
  }
}
.text-suc h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 30px;
}

.section-sucursal {
  display: flex;
}

.mapa {
  padding: 20px 15px 0px 60px;
}

.sucursal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-left: 200px;
  font-family: "Josefin Sans", sans-serif;
}

.galery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 5px;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.galery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-item:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 4;
}
.grid-item:nth-child(6) {
  grid-column-start: 2;
  grid-column-end: 4;
}

/******************MEDIA Q TABLET*************************/
@media (max-width: 768px) {
  .text-suc h1 {
    font-size: 45px;
    width: 1500px;
  }
  .sucursal-text {
    font-size: 27px;
    margin-left: 140px;
    margin-top: 240px;
  }
  .mapa- {
    padding: 10px;
    width: 750px;
    height: 700px;
  }
}
/*********************MEDIA Q TELEFONO*****************************/
@media (max-width: 425px) {
  .text-suc h1 {
    font-size: 60px;
  }
  .sucursal-text h1 {
    padding: 40px;
    font-size: 60px;
  }
  .section-sucursal {
    display: flex;
    flex-direction: column;
  }
  .mapa- {
    padding: 10px;
    width: 1400px;
    height: 800px;
  }
  .sucursal-text {
    margin: 30px 10px 20px 10px;
    font-size: 50px;
  }
  .galery-container {
    padding: 10px;
  }
}
/*********************MEDIA Q TELEFONO*****************************/
@media (max-width: 375px) {
  .main-dos {
    width: 1500px;
  }
  .text-suc h1 {
    width: 1500px;
  }
}
/*********************MEDIA Q TELEFONO*****************************/
@media (max-width: 320px) {
  .text-suc h1 {
    width: 1300px;
  }
  .mapa {
    padding: 20px 15px 0px 10px;
    width: 1200px;
    height: 800px;
  }
  .mapa- {
    width: 1200px;
    height: 800px;
    margin-left: 30px;
  }
}
.reseñas {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.escribir-reseña {
  margin-left: 200px;
}

.dejar-comentario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.dejar-comentario .area-comentar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  margin: 30px 0px 10px 400px;
}
.dejar-comentario .area-comentar .img-escribir {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 5px 0px 0px;
}
.dejar-comentario .area-comentar .escribir {
  width: 500px;
  height: 70px;
  background-color: rgb(209, 209, 212);
  border: 0;
  border-radius: 5px;
}
.dejar-comentario .boton {
  background-color: rgb(75, 110, 159);
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px 0px 0px 483px;
  color: rgb(184, 231, 231);
}

.testimonios h1 {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  margin: 40px 0px 20px;
  font-weight: 500;
  padding: 10px 20px;
  width: 100%;
}

.testimonios-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonios-caja {
  width: 500px;
  box-shadow: 2px 2px 3px black;
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.perfil-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: center;
     object-fit: center;
}

.perfil {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.name-user strong {
  font-family: "Poppins", sans-serif;
}
.name-user span {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comentarios p {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

/**************MEDIA Q TABLET**************/
@media (max-width: 778px) {
  .reseñas {
    font-size: 40px;
  }
  .reseñas h2 {
    font-size: 45px;
  }
  .dejar-comentario {
    width: 700px;
    margin-left: 130px;
  }
  .dejar-comentario .area-comentar {
    margin: 30px 0px 0px 200px;
    width: 900px;
    height: 250px;
  }
  .dejar-comentario .area-comentar .escribir {
    width: 750px;
    height: 150px;
  }
  .dejar-comentario .area-comentar .img-escribir {
    width: 80px;
    height: 80px;
  }
  .dejar-comentario .boton {
    width: 150px;
    height: 45px;
    font-size: 30px;
    margin-left: 680px;
    border-radius: 10px;
  }
  .testimonios h1 {
    font-size: 60px;
    margin: 30px;
    margin-right: 0px;
    padding-right: 0%;
    justify-content: left;
    margin-left: 600px;
    width: 100px;
  }
  .testimonios-caja {
    width: 680px;
    height: 300px;
  }
  .comentarios {
    font-size: 25px;
  }
  .comentarios p {
    font-size: 30px;
  }
  .perfil-img {
    height: 100px;
    width: 100px;
  }
  .name-user {
    font-size: 35px;
  }
  .estrellas img {
    width: 35px;
    height: 35px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
  .reseñas h1 {
    font-size: 100px;
  }
  .reseñas h2 {
    font-size: 80px;
  }
  .dejar-comentario {
    padding: 30px 20px;
    width: 1000px;
    margin-left: 150px;
  }
  .dejar-comentario .area-comentar {
    padding: 10px;
    margin: 0%;
    width: 1200px;
    height: 400px;
  }
  .dejar-comentario .area-comentar .escribir {
    height: 300px;
    width: 1000px;
  }
  .dejar-comentario .area-comentar .img-escribir {
    width: 150px;
    height: 150px;
  }
  .dejar-comentario .boton {
    margin-left: 950px;
    width: 200px;
    height: 80px;
  }
  .reseñas h2 {
    margin: 10px;
  }
  .testimonios h1 {
    margin-left: 500px;
    margin-top: 70px;
    width: 600px;
    font-size: 100px;
  }
  .testimonios-contenedor {
    display: flex;
    flex-direction: column;
  }
  .testimonios-caja {
    width: 1200px;
    height: 470px;
    margin-bottom: 40px;
  }
  .name-user strong {
    font-size: 50px;
  }
  .name-user span {
    font-size: 45px;
  }
  .perfil-img {
    height: 180px;
    width: 180px;
  }
  .estrellas img {
    width: 70px;
    height: 70px;
  }
  .comentarios p {
    font-size: 50px;
  }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
  .reseñas h2 {
    width: 1300px;
  }
  .dejar-comentario {
    padding: 30px 20px;
    width: 800px;
    margin-left: 30px;
  }
  .testimonios h1 {
    margin-left: 400px;
  }
  .testimonios-contenedor {
    align-items: start;
  }
  .testimonios-caja {
    width: 1240px;
    height: 470px;
    margin-bottom: 40px;
    margin-left: 20px;
  }
}/*# sourceMappingURL=styles.css.map */