$color_1: rgb(184, 231, 231);
$color_2: rgb(0, 0, 0);
$font-family_1: 'Bebas Neue', cursive;
$font-family_2: 'Josefin Sans', sans-serif;
$font-family_3: 'Poppins', sans-serif;
$background-color_1: rgb(0, 0, 0);
$background-color_2: black;
$background-color_3: rgb(106, 174, 174);
$background-color_4: rgb(47, 180, 221);
$background-color_5: white;
$background-color_6: rgb(209, 209, 212);
$background-color_7:rgb(75, 110, 159);