
.footer {
	grid-area: footer;
	background-color: $background-color_3;
	display: flex;
	justify-content: space-around;
}
.section-footer {
	display: flex;
	flex-direction: row;
}
.contacto {
	text-align: center;
	margin-left: 500px;
	font-size: 20px;
	font-family: $font-family_2;
	margin-top: 20px;
	h3 {
		font-size: 25px;
		font-family: $font-family_2;
	}
}
.redes {
	font-size: 20px;
	font-family: $font-family_2;
	margin-top: 20px;
	a {
		margin-left: 70px;
        .img-face:hover{
            transform: scale(115%);
        }
        .img-insta:hover{
            transform: scale(115%);
        }
        .img-twitter:hover{
            transform: scale(115%);
        }
	}
}

.grid-container {
	display: grid;
	grid-template-areas: "header header header" "main main main" "footer footer footer";
	grid-template-rows: 100px 1fr 150px;
    grid-template-columns: repeat(3, 1fr);
}
/******************************************MEDIA Q PORTATIL***********************************************************/
@media (max-width: 1024px){
    .contacto{
        margin-left: 50px;
    }
}
/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px){
    .footer {
        height:180px;
        margin-top: auto;
        
    }
    .section-footer {
        display: flex;
        flex-direction: row;

    }
    .redes {
        h2 {
            font-size: 30px;
            margin-right: 10px;
            width: 300px;
            text-align: center;
        }
        a {
            margin-left: 50px;
        }
    }
    .img-face {
        width: 30px;
        height: 30px;
    }
    .img-insta {
        width: 30px;
        height: 30px;
    }
    .img-twitter {
        width: 30px;
        height: 30px;
    }
    .contacto {
        margin: 0%;
        margin-left: 20px;
        margin-top: 20px;
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
        }
    }
}    

/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
.footer {
	height: 300px;
}
.section-footer {
	display: flex;
	flex-direction: column;
}
.redes {
	a {
		margin-left: 70px;
	}
	h2 {
		display: flex;
		text-align: center;
		font-size: 25px;
        margin-left: 50px;
	}
}
.contacto{
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
}
.img-face {
	width: 40px;
	height: 50px;
}
.img-insta {
	width: 40px;
	height: 50px;
}
.img-twitter {
	width: 40px;
	height: 50px;
}
}

/******************************************MEDIA Q TELEFONO 375***********************************************************/
@media (max-width: 375px) {

}
/******************************************MEDIA Q TELEFONO 320***********************************************************/
@media (max-width: 320px) {

    .redes {
        a {
            margin-left: 50px;
        }
        h2 {
            font-size: 20px;
            margin-right: 0%;
            margin-left: 15px;
        }
    }
    .contacto{
        margin-top: 50px;
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 20px;
        }
    }
}

