.footer-dos{
    grid-area: footer-dos;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    .section-footer-dos{
        display: flex;
        flex-direction: row;
        .redes-dos {
            bottom: 5px;
            color: rgb(255, 255, 255);
            font-size: 17px;
            padding: 15px 0px 10px 0px;
            margin-right: 230px;
            h2{
            font-family: 'Josefin Sans', sans-serif;
            width: 550px;
            margin-bottom: 10px;
            }
            a{
                margin-left: 60px;
                .img-face-dos:hover{
                    transform: scale(115%);
                }
                .img-insta-dos:hover{
                    transform: scale(115%);
                }
                .img-twitter-dos:hover{
                    transform: scale(115%);
                }
            }
        }
        .contacto-dos{
            text-align: center;
            padding: 15px 0px 10px 0px;
            margin-right: 100px;
            h2{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 30px;
                padding-bottom: 15px;
            }
            h3{
                text-align: center;
                padding: 0px 10px 0px 0px;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 20px;
                width: 450px;
            }
        }
    }
}
.grid-container-dos{
    display: grid;
    grid-template-areas: 
    "header-dos header-dos header-dos"
    "main-dos main-dos main-dos"
    "footer-dos footer-dos footer-dos";
    grid-template-rows: 210px 1fr 150px;
    grid-template-columns: repeat(3, 1fr);
}

/******************************************MEGA Q PORTATIL**********************************************************/
@media (max-width: 1024px){
    .footer-dos{
        .section-footer-dos{
            .contacto-dos{
                margin-right: 30px;
            }
            .redes-dos{
                margin-right: 0px;
                margin-left: 70px;
                text-align: center;
                h2{
                    width: 470px;
                }
            }
        }
    }
}
/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px){
.footer-dos {
	grid-area: footer-dos;
	height: 220px;
	margin-top: auto;
	justify-content: space-around;
    .section-footer-dos {
        display: flex;
        flex-direction: row;
        .redes-dos {
            margin-left: 0px;

            h2 {
                font-size: 25px;
                text-align: center;
                margin-left: 0%;
                width: 320px;
            }
            a {
                margin-left: 50px;
                .img-face-dos {
                    width: 40px;
                    height: 100px;
                }
                .img-insta-dos {
                    width: 40px;
                    height: 100px;
                }
                .img-twitter-dos {
                    width: 40px;
                    height: 100px;
                    margin-right: 70px;
                }
            }
        }
        .contacto-dos {
            font-size: 25px;
            margin-left: 0px;
            margin-right: 0px;
            h2 {
                font-size: 25px;
            }
            h3 {
                font-size: 20px;
                text-align: center;
                padding: 15px 5px 5px 0px;
                margin-bottom: 0%;
                width: 350px;
            }
        }
    }
}
.grid-container-dos {
	display: grid;
	grid-template-areas: "header-dos header-dos header-dos" "main-dos main-dos main-dos" "footer-dos footer-dos footer-dos";
	grid-template-rows: 365px 1fr 220px;
	grid-template-columns: auto;
}
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
    .footer-dos {
        grid-area: footer-dos;
        height: 400px;
        .section-footer-dos {
            display: flex;
            flex-direction: column;
            margin-left: 0%;
            .redes-dos {
                margin: 10px;
                h2 {
                    font-size: 25px;
                    padding: 15px 5px 0px 0px;
                    width: 400px;
                }
                a {
                    margin-left: 60px;
                    .img-insta-dos {
                        width: 40px;
                        height: 50px;
                    }
                    .img-face-dos {
                        width: 40px;
                        height: 50px;
                    }
                    .img-twitter-dos {
                        width: 40px;
                        height: 50px;
                        margin-right: 60px;
                    }
                }
            }
            .contacto-dos {
                h2{
                    font-size: 25px;
                    margin: 0px;}
                h3 {
                    font-size: 20px;
                    padding-left: 5px;
                    width: 380px;
                    margin-left: 25px;
                }
            }
        }
    }
    .grid-container-dos {
        display: grid;
        grid-template-areas: "header-dos" "main-dos" "footer-dos";
        grid-template-rows: 550px 1fr 400px;
        grid-template-columns: auto;
    }
    
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 375px) {
    .footer-dos {
        grid-area: footer-dos;
        height: 320px;
        .section-footer-dos{
        .redes-dos{
            a {
                margin-left: 50px;
                .img-insta-dos {
                    width: 30px;
                    height: 40px;
                }
                .img-face-dos {
                    width: 30px;
                    height: 40px;
                }
                .img-twitter-dos {
                    width: 30px;
                    height: 40px;
                }
            }
            h2{
                font-size: 20px;
                width: 300px;
                margin-left: 25px;
            }
        }
        .contacto-dos{
                h2{
                    font-size: 20px;
                    
                }
                h3{
                    font-size: 15px;
                    width: 360px;
                    margin-left: 0%;
                }
        }
    }
    }


    .grid-container-dos {
        display: grid;
        grid-template-areas: "header-dos" "main-dos" "footer-dos";
        grid-template-rows: 490px 1fr 320px;
        grid-template-columns: auto;
    }
}
    
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
    .footer-dos{
        grid-area: footer-dos;
        height: 320px;
    .section-footer-dos{
        .redes-dos{
            position: relative;
            right:30px;
            width: 290px;
            margin-left: 30px;
            h2{
                width: 250px;
            }
            a{
                margin-left: 40px;
                .img-twitter-dos{
                    margin-right: 40px;
                }
            }
    
        }
        .contacto-dos{
            h3{
            width: 200px;
            position: relative;
            left: 60px;
            }
        }
    }
}

    .grid-container-dos {
        display: grid;
        grid-template-areas: "header-dos" "main-dos" "footer-dos";
        grid-template-rows: 450px 1fr 320px;
        grid-template-columns: auto;
    }
}