.header {
	grid-area: header;
	background-color: $background-color_1;
}
.section-header {
	display: flex;
	justify-content: space-between;
}
.img-logo:hover{
    transform: scale(104%);
}
.img-logo{
    margin-top: 20px;
}
.buscar {
	padding: 30px 10px;
	input {
		width: 240px;
		height: 40px;
		padding: 0 20px;
		font-size: 18px;
		color: $color_2;
		outline: none;
		border: 1px solid silver;
		border-radius: 30px;
	}
}
/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px){
    .header {
        height: 100px;
    }
    .section-header {
        height: 100px;
    }
    .img-logo {
        position: absolute;
        width: 80px;
        height: 90px;
    }
    }
    .buscar {
        padding: 30px 30px;
        height: 200px;
        position: relative;

        input {
            width: 250px;
            height: 50px;
            font-size: 25px;
        }
    }

/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
    .header {
        height: 100px;
    }
    .section-header{
        height: 100px;
    }
    .img-logo {
        width: 70px;
        height: 60px;
    }
    .buscar {
        padding: 30px 30px;
        height: 50px;
        position: relative;

        input {
            width: 150px;
            height: 30px;
            font-size: 20px;
        }
    }
}
/******************************************MEDIA Q TELEFONO 375***********************************************************/
@media (max-width: 375px) {

}

/******************************************MEDIA Q TELEFONO 320***********************************************************/
@media (max-width: 320px) {
    
}
