.header-dos {
	grid-area: header-dos;
	background-color: $background-color_1;
	display: flex;
	flex-direction: row;
	align-content: end;
    .section-header-dos {
        display: flex;
        .img-logo- {
            padding: 30px 5px 0px 0px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 220px;
        }
        }
        .navbar {
            display: flex;
            gap: 10px 20px;
            margin-left: 290px;
            align-items: center;
            .inicio-suc {
                display: flex;
                gap: 20px;
            }
            .inicio-comp {
                display: flex;
                gap: 20px;
            }
            .com-rese {
                display: flex;
                gap: 20px;
            }
            .carta-rese {
                display: flex;
                gap: 20px;
                margin-right: 20px;
            }
            .carta-suc {
                display: flex;
                gap: 20px;
            }
        }
    }
.img-inicio:hover{
    transform: scale(103%);
}
.img-carta-dos:hover{
    transform: scale(103%);
}
.img-reseñas-dos:hover{
    transform: scale(103%);
}
.img-comprar-dos:hover{
    transform: scale(103%);
}
.img-sucursal-dos:hover{
    transform: scale(103%);
}

/******************************************MEGA Q PORTATIL**********************************************************/
@media (max-width: 1024px){
    .header-dos{
        .section-header-dos{
            .img-logo-{
                width: 120px;
                height: 150px;
                padding-top: 50px;
            }
        }
        .navbar {
        margin-left: 10px;
        gap: 10px;
        .inicio-suc{
            gap: 10px;
        }
        .com-rese{
            gap: 10px;
        }
        .carta-rese{
            gap: 10px;
        }
        .inicio-comp{
            gap: 10px;
        }
        .carta-suc{
            gap: 10px;
        }

    }
}
}
/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px){
    .header-dos {
        grid-area: header-dos;
        background-color: $background-color_1;
        height: 365px;
        flex-direction: column;
        .section-header-dos {
            display: flex;
            justify-content: center;
            height: 150px;
            .img-logo- {
                    position: absolute;
                    width: 200px;
                    height: 190px;
                    left: 280px;
                    clip-path: inset(60px 10px 50px 10px);
                    padding-top: 0px;
            }
        }
        .navbar {
            display: flex;
            margin-left: 5px;
            margin-right: 5px;
            align-items: center;
            .inicio-suc {
                display: flex;
                gap: 10px;
            }
            .com-rese {
                display: flex;
                gap: 10px;
            }
            .carta-rese {
                display: flex;
                gap: 10px;
            }
            .img-inicio {
                width: 177px;
        height: 200px;
                margin-left: 2px;
            }
            .img-comprar-dos {
                width: 177px;
        height: 200px;
                position: relative;
                
            }
            .img-carta-dos {
                width: 177px;
        height: 200px;
                position: relative;
            }
            .img-sucursal-dos {
                width: 177px;
        height: 200px;
                position: relative;
            }
            .img-reseñas-dos {
                width: 177px;
        height: 200px;
                
            }
        }
    }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
    .header-dos {
        grid-area: header-dos;
        height: 550px;
        .section-header-dos {
            height: 120px;
            .img-logo- {
                width: 150px;
                height: 150px;
                left: 150px;
                clip-path: inset(20px 10px 50px 10px);
            }
        }
        .navbar{
            flex-wrap: wrap;
        .img-inicio {
            width: 190px;
        height: 200px;
            position: relative;
            margin-left: 0%;
        }
        .img-carta-dos {
            width: 190px;
        height: 200px;
            position: relative;
        }
        .img-comprar-dos {
            width: 190px;
        height: 200px;
        }
        .img-sucursal-dos {
            width: 190px;
        height: 200px;
        }
        .img-reseñas-dos {
            width: 190px;
        height: 200px;
        }
        .inicio-suc {
            flex-direction: column;
            margin-left: 2px;
        }
        .inicio-comp {
            flex-direction: column;
            margin-left: 2px;
        }
        .com-rese {
            flex-direction: column;
            margin-right: 10px;
        }
        .carta-rese {
            flex-direction: column;
            margin-right: 10px;
            margin-left: 5px;
        }
        .carta-suc {
            flex-direction: column;
            margin-right: 10px;
            margin-left: 5px;
        }
    }
}
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 375px) {
    .header-dos{
        grid-area: header-dos;
        height: 490px;
        .section-header-dos {
            height: 120px;
            .img-logo- {
                left: 120px;
            }
        }
        .navbar{
            .inicio-suc {
                margin-left: 2px;
            }
            .inicio-comp {
                margin-left: 2px;
            }
            .carta-rese{
                position: relative;
                margin-left: 0%;
                margin-right: 0%;
            }
            .carta-suc{
                margin-right: 0%;
            }
            .img-inicio {
                width: 165px;
        height: 170px;
            }
            .img-carta-dos {
                width: 165px;
        height: 170px;
            }
            .img-comprar-dos {
                width: 165px;
        height: 170px;
            }
            .img-sucursal-dos {
                width: 165px;
        height: 170px;
            }
            .img-reseñas-dos {
                width: 165px;
        height: 170px;
            }
        }
    }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
    .header-dos{
        height: 450px;
        grid-area: header-dos;
        .section-header-dos {
            height: 120px;
            .img-logo- {
                left: 90px;
            }
        }
        .navbar{
            .img-inicio {
                width: 135px;
        height: 150px;
            }
            .img-carta-dos {
                width: 135px;
        height: 150px;
            }
            .img-comprar-dos {
                width: 135px;
                height: 150px;
            }
            .img-sucursal-dos {
                width: 135px;
                height: 150px;
            }
            .img-reseñas-dos {
                width: 135px;
        height: 150px;
            }
            .com-rese{
                position: relative;
            }
            .carta-rese{
                position: relative;
                margin-left: 5px;
            }
            .carta-suc{
                position: relative;
            }
        }
    }

}