.nuestros-cafes {
	text-align: center;
	font-size: 40px;
	font-family: $font-family_1;
	margin-top: 30px;
}
.nuestras-cafeteras {
	h1 {
		text-align: center;
		font-size: 40px;
		font-family: $font-family_1;
		margin-top: 60px;
	}
	margin-top: 40px;
}
.cafés {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
}
.card {
	border: 8px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $background-color_5;
	border-radius: 20px;
	align-items: center;
	gap: 15px;
	color: $color_2;
	box-shadow: 0px 3px 3px rgb(117, 117, 117);
	font-family: $font-family_2;
}
.card:hover{
    transform: scale(104%);
}
.cafeteras {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
}
.cafeteras-dos {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
	margin-bottom: 40px;
}

/********************MEDIA Q TABLET*********************/
@media (max-width: 778px){
    .nuestros-cafes{
        font-size: 50px;
    }
}

/**************************MEDIA Q TELEFONO*********************/
@media (max-width: 425px){
.nuestras-cafeteras {
	margin-top: 0px;
	h1 {
		padding: 0px;
	}
}
.cafés {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	margin: 0px;
}
.cafeteras {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	margin-top: 0px;
}
.cafeteras-dos {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.card {
	a {
		font-size: 20px;
	}
	width: 400px;
	margin-left: 70px;
}
}