.main-dos{
    grid-area: main-dos;
    background-color:rgb(106, 174, 174) ;
}
.contenedor{
    flex-wrap: wrap;
}
.nuestra-carta {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: $font-family_1;
	color: $color_1;
}
.beb {
	background-color: $background-color_4;
	width: 100px;
	margin-left: 40px;
	border-radius: 5px;
	border: 5px solid rgb(47, 180, 221);
}
.com {
	background-color: $background-color_4;
	width: 170px;
	border-radius: 5px;
	border: 5px solid rgb(47, 180, 221);
    margin-left: 7px;
}
.com-s {
	background-color: $background-color_4;
	width: 190px;
	margin-left: 50px;
	border-radius: 5px;
	border: 5px solid rgb(47, 180, 221);
}
.beb-dul {
	display: flex;
}
.carta {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 25px;
}
@mixin menu {
    color: $color_2;
    list-style-type: none;
	font-size: 20px;
    font-family: $font-family_2;
	border: 2px solid rgb(7, 149, 192);
	border-radius: 10px;
}
.bebidas {
    @include menu;
	width: 250px;
	height: 550px;
}
.comida-dulce {
    @include menu;
	margin-left: 210px;
	width: 250px;
	height: 550px;
}
.comida-salada {
	@include menu;
	margin-left: 20px;
	width: 380px;
	height: 550px;
}
.carousel-inner {
	margin-bottom: 20px;
}
.ca {
	width: 1260px;
	height: 600px;
	margin-left: 90px;
}
/******************************************MEGA Q PORTATIL**********************************************************/
@media (max-width: 1024px){
    .carta{
        justify-content: space-evenly;
    }
    .comida-dulce{
        margin-left: 50px;
    }
    .ca {
        width: 950px;
        height: 500px;
        margin-left: 30px;
    }
}
/******************************************MEDIA Q TABLET***********************************************************/
@media (max-width: 778px){
    .main-dos{
        grid-area: main-dos;
    }
    .nuestra-carta {
        font-size: 40px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .beb {
        width: 150px;
        margin-left: 40px;
    }
    .com {
        width: 250px;
        margin-left: 15px;
    }
    .com-s {
        width: 400px;
        margin-left: 50px;
    }
    .beb-dul {
        display: flex;
        justify-content: space-evenly;
    }
    .carta {
        display: flex;
        flex-direction: column;
    }
    .bebidas {
        width: 300px;
        height: 800px;
        font-size: 30px;
    }
    .comida-dulce {
        width: 340px;
        height: 800px;
        font-size: 30px;
    }
    .comida-salada {
        width: 580px;
        height: 780px;
        font-size: 30px;
        margin-top: 50px;
        margin-left: 100px;
    }
    .ca {
        margin-left: 25px;
        width: 700px;
        height: 500px;
    }

}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 425px) {
    .main-dos {
        grid-area: main-dos;
        height: 1fr;
    }
    .nuestra-carta {
        font-size: 30px;
    }
    .beb-dul {
        display: flex;
        flex-direction: column;
    }
    .beb{
        width: 130px;
        margin-left: 50px;
    }
    .com {
        margin-left: 0px;
        width: 230px;
    }
    .com-s {
        margin-left: 50px;
        width: 240px;
    }
    .bebidas {
        margin-left: 50px;
        width: 300px;
        margin-bottom: 50px;
        font-size: 25px;
        height: 700px;
    }
    .comida-dulce {
        margin-left: 50px;
        font-size: 25px;
        height: 700px;
        width: 300px;
    }
    .comida-salada {
        margin-left: 5px;
        width: 400px;
        font-size: 24px;
        height: 700px;
    }
    .ca {
        margin: 10px 0px 10px 3px;
        width: 400px;
        height: 300px;
    }
    
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 375px) {
    .com-s{
        margin-left: 10px;
        width: 230px;
    }
    .beb{
        width: 130px;
        margin-left: 50px;
    }
    .com {
        margin-left: 0px;
        width: 230px;
    }
    .comida-salada{
        width: 330px;
        height: 780px;
        margin-left: 15px;
    }
    .bebidas{
        margin-left: 25px;
    }
    .comida-dulce{
        margin-left: 25px;
    }
    .ca {
        width: 360px;
    }
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
    .nuestra-carta{
        font-size: 25px;
    }
    .beb{
        width: 100px;
    }
    .com {
        width: 180px;
    }
    .com-s {
        width: 190px;
    }
    .bebidas {
        margin-left: 10px;
        font-size: 20px;
        width: 250px;
        height: 540px;
    }
    .comida-dulce {
        margin-left: 10px;
        font-size: 20px;
        width: 250px;
        height: 540px;
    }
    .comida-salada {
        margin-left: 5px;
        font-size: 20px;
        width: 280px;
        height: 650px;
    }
    .ca {
        width: 290px;
        height: 250px;
    }
    .carousel-control-next{
        right: 50px;
    }
}