.text-suc {
	h1 {
		font-family: $font-family_2;
		text-align: center;
		padding: 30px;
	}
}
.section-sucursal {
	display: flex;
}
.mapa {
	padding: 20px 15px 0px 60px;
}
.sucursal-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	margin-left: 200px;
	font-family: $font-family_2;
}
.galery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 250px;
	grid-gap: 5px;
	padding: 30px;
	padding-left: 60px;
	padding-right: 60px;
}
.galery-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.grid-item {
	&:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	&:nth-child(3) {
		grid-row-start: 2;
		grid-row-end: 4;
	}
	&:nth-child(6) {
		grid-column-start: 2;
		grid-column-end: 4;
	}
}
/******************************************MEDIA Q PORTATIL***********************************************************/
@media (max-width: 1024px){
.sucursal-text{
	margin-left: 70px;
}
.mapa-{
	width: 500px;
}
}


/******************MEDIA Q TABLET*************************/
@media (max-width: 768px){
    .text-suc h1{
        font-size: 30px;
    }
    .sucursal-text{
        font-size: 17px;
        margin-left: 30px;
        margin-top: 150px;
    }
    .mapa-{
        padding: 10px;
        width: 350px;
        height: 400px;
    }
	.mapa{
		padding-left: 20px;
	}
	.galery-container{
		padding-left: 20px;
		padding-right: 20px;
	}
}
/*********************MEDIA Q TELEFONO*****************************/
@media (max-width: 425px){
	.text-suc{
		h1{
		font-size: 25px;
		padding: 20px;
	}
	}
    .sucursal-text h1{
        padding: 40px;
        font-size: 60px;
    }
    .section-sucursal{
        display: flex;
        flex-direction: column;
    }
    .mapa-{
        padding: 10px;
        width: 400px;
        height: 400px;
    }
	.mapa{
		padding-left: 5px;
		padding-right: 0%;
	}
    .sucursal-text{
        margin: 30px 10px 20px 10px;
        font-size: 15px;
    }
    .galery-container{
        padding: 5px;
		grid-auto-rows: 180px;
    }
}
/*********************MEDIA Q TELEFONO*****************************/
@media (max-width: 375px){
	.text-suc{
		h1{
			font-size: 20px;
		}
	}
	.mapa-{
        padding: 10px;
        width: 350px;
        height: 340px;
    }
}

/*********************MEDIA Q TELEFONO*****************************/
@media (max-width: 320px){
	.text-suc{
		h1{
			font-size: 15px;
			width: 90%;
		}
	}
	.mapa{
        padding: 20px 15px 0px 10px;
		width: 250px;
    }
	.mapa-{
		width: 280px;
        height: 200px;
	}
	.sucursal-text{
		font-size: 10px;
	}
}


