.nuestros-cafes {
	text-align: center;
	font-size: 45px;
	font-family: $font-family_2;
	margin-top: 30px;
}
.nuestras-cafeteras {
	h1 {
		text-align: center;
		font-size: 45px;
		font-family: $font-family_2;
		margin-top: 60px;
	}
	margin-top: 40px;
}
.cafés {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
}
.card {
	border: 8px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $background-color_5;
	border-radius: 20px;
	align-items: center;
	gap: 15px;
	color: $color_2;
	box-shadow: 0px 3px 3px rgb(117, 117, 117);
	font-family: $font-family_2;
}
.card:hover{
    transform: scale(104%);
}
.cafeteras {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
}
.cafeteras-dos {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
	margin-bottom: 40px;
}

/********************MEDIA Q TABLET*********************/
@media (max-width: 778px){
    .nuestros-cafes{
        font-size: 50px;
    }
}

/**************************MEDIA Q TELEFONO*********************/
@media (max-width: 425px){
.nuestras-cafeteras {
	margin-top: 0px;
	h1 {
		font-size: 120px;
		padding: 0px;
	}
}
.nuestros-cafes{
		font-size: 120px;
}
.cafés {
	display: flex;
	flex-direction: column;
	padding: 50px;
	gap: 50px;
	margin: 0px;
	margin-left: 120px;
}
.cafeteras {
	display: flex;
	flex-direction: column;
	padding: 50px;
	gap: 50px;
	margin-top: 0px;
	margin-left: 120px;
}
.cafeteras-dos {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 150px;
}
.card {
	a {
		font-size: 70px;
	}
	h2{
		font-size: 80px;
	}
	width: 1100px;
	height: 1200px;
	margin-left: 70px;
	img{
		width: 900px;
		height: 1000px;
	}
}
}
/******************************************MEDIA Q TELEFONO***********************************************************/
@media (max-width: 320px) {
	.main-dos{
		width: 1300px;
	}
	.cafés {
		margin-left:0px;
		width: 1000px;
	}
	.cafeteras {
		margin-left: 0px;
		width: 1000px;
	}
	.cafeteras-dos {
		margin-left: 0px;
		width: 1000px;
	}
	.nuestras-cafeteras {
		h1 {
			font-size: 100px;
		}
	}
	.nuestros-cafes{
			font-size: 100px;
	}

	.card {
		a {
			font-size: 60px;
		}
		h2{
			font-size: 60px;
		}
		width: 1000px;
		height: 1200px;
		margin-left: 120px;
		img{
			width: 700px;
			height: 800px;
		}
	}
}